@font-face {
	font-family: 'ResourceHanRoundedCN Regular';
	src: url('ResourceHanRoundedCN-Regular.ttf');
}

@font-face {
	font-family: 'ResourceHanRoundedCN Light';
	src: url('ResourceHanRoundedCN-Light.ttf');
}

@font-face {
	font-family: 'ResourceHanRoundedCN Medium';
	src: url('ResourceHanRoundedCN-Medium.ttf');
}