@font-face {
	font-family: 'ResourceHanRoundedCN Regular';
	font-display: swap;
	src: url("ResourceHanRoundedCN-Regular.woff2");
}

@font-face {
	font-family: 'ResourceHanRoundedCN Light';
	font-display: swap;
	src: url("ResourceHanRoundedCN-Light.woff2");
}

@font-face {
	font-family: 'ResourceHanRoundedCN Medium';
	font-display: swap;
	src: url("ResourceHanRoundedCN-Medium.woff2");
}
