@font-face {
	font-family: 'M PLUS 1p Light';
	src: url('MPLUS1p-Light.ttf');
}

@font-face {
	font-family: 'M PLUS 1p Regular';
	src: url('MPLUS1p-Regular.ttf');
}

@font-face {
	font-family: 'M PLUS 1c Light';
	src: url('MPLUSRounded1c-Light.ttf');
}

@font-face {
	font-family: 'M PLUS 1c Regular';
	src: url('MPLUSRounded1c-Regular.ttf');
}