@media (prefers-color-scheme: dark) {
  .modal-card-body {
    background-color: #363636;
  }

  .modal-background {
    background-color: rgba(10,10,10,.46);
  }

  a {
    color: #6d90d6;
  }

  .loading-overlay {
    background-color: rgba(0, 0, 0, 0.2) !important;

    .loading-background {
      background-color: rgba(0, 0, 0, 0.2) !important;
    }
  }

  .progress-wrapper {
    .progress-value {
      color: #fff !important;
    }
  }

  .datepicker {
    .dropdown-content {
      background-color: #0a0a0a !important;
    }
    .datepicker-table {
      .datepicker-body {
        .datepicker-cell.is-selectable {
          color: #b5b5b5 !important;
          &:hover {
            color: #0a0a0a !important;
          }
        }

        .datepicker-cell.is-unselectable {
          color: #4a4a4a !important;
        }
      }
    }
  }

  ::selection {
    background: rgba(255, 255, 255, .15);
  }
  ::-webkit-scrollbar-thumb {
    background: #ededed;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-track {
    background: rgb(26,26,26);
    border-radius: 5px;
  }
  ::-webkit-scrollbar {
    background: #000;
  }
  html:before {
    filter: brightness(0.9);
  }

  .taginput .taginput-container.is-focusable {
    background: transparent;
    border: none;
  }
}
